/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Dosis', sans-serif; */
/* rgb(218, 255, 142) */
/* rgb(192, 164, 251) */

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    /* border: solid red 1px; */
    /* background-color: rgb(207, 245, 232); */
}

header {
    height: 30vh;
}

main {
    min-height: 60vh;
}

footer {
    height: 10vh;
}

.card {
    height: 470px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    text-shadow: 0.5px 1px black;
    font-weight: bolder !important;
    color: rgb(214, 75, 226);
    box-shadow: rgba(0, 0, 0, 0.582) 0px 10px 20px, rgba(0, 0, 0, 0.575) 0px 6px 6px;
    background-image: url(../images/51305.png);    background-size: cover;
}

.card img {
    height: 200px !important;
    width: 200px;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem !important;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in
}

#btns {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 10px;
}

.btn {
    font-size: smaller;
    font-weight: 1000;
    text-shadow: 1px 1px black;
    background-color: rgb(192, 164, 251);
    border: none;
}

.btn:hover {
    background-color: rgb(159, 226, 226);
    color: rgb(198, 15, 214);
    text-shadow: none;
}

#cardTitle {
    font-size: larger;
    font-weight: 700;
    margin-top: 1.5rem !important;
}

.card-text {
    margin-top: 0.5rem !important;
}

.precio {
    background-color: rgb(138, 34, 207);
    border-radius: 1rem;
    color: white;
    font-weight: 900;
}

#noResultados {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    text-shadow: 0.5px 1px black;
    font-weight: bolder !important;
    color: rgb(214, 75, 226);
}

/* search bar */

#barContainer{
    background-image: url(../images/51305.png);
    background-size: cover !important;
    margin-left: 15rem !important;
    margin-right: 15rem !important;
    border-radius: 3rem;
    border: outset 5px;
}

#searchTxt {
    padding: 0.7rem !important;
    font-size: medium !important;
    font-weight: 1000 !important;
    background-image: url(../images/bokeh-2072271_640.jpg);
    border-radius: 2rem !important;
    color: rgb(198, 15, 214);
}

#searchInput {
    width: 300px;
    height: 40px;
    border-radius: 2rem;
    background-color: rgb(185, 248, 185);
    border: outset 5px;
    color: rgb(198, 15, 214);
    background-image: url(../images/bokeh-2072271_640.jpg);
}

/* edit details */

#detailContainer {
    background-image: url(../images/bokeh-2072271_640.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-left: 20rem !important;
    margin-right: 20rem !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    border-radius: 10rem;
}

.txtdetail h5 {
    margin-top: 1rem !important;
    font-size: xx-large !important;
    font-weight: 900;
    text-shadow: 0.5px 1px black;
}

.txtdetail {
    font-family: 'Dosis', sans-serif;
    font-weight: 900 !important;
    font-size: 1rem !important;
    color: rgb(198, 15, 214);
    text-align: center;
    width: 30% !important;
    text-shadow: 0.5px 1px black;
}

.text-success {
    color: rgb(198, 15, 214) !important;
}

.descripcionDetail {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

.imgDetail {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    object-fit: contain;
    padding: 0.5rem !important;
    background-color: rgb(201, 159, 240);
}

.unitDetail{
    background-color: rgb(176, 54, 201);
    border-radius: 1rem;
    color: white !important;
}

.priceDetail {
    background-color: rgb(176, 54, 201);
    border-radius: 1rem;
    color: white !important;
}

.carrito {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.detalles {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.precio {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

@media only screen and (max-width:870px) {
    #barContainer {
        display: flex;
        flex-direction: column;
    }
}