<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/styles/styleMarco.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>PuppyPet - Toys</title>
</head>

<body>
    <header>

    </header>

    <main id="app">
        {{filtroSearch}}
        <div id="barContainer" class="d-flex justify-content-center align-items-center gap-5 mt-3">
            <p id="searchTxt">Podemos ayudarte a encontrar tu producto!!</p>
            <form role="search">
                <input v-model='searchInput' id="searchInput"  class="form-control me-2" type="Búsqueda" placeholder="  Escribe para buscar" aria-label="Búsqueda">
            </form>
        </div>

        <div id="cardcontainer" class="d-flex justify-content-center gap-3 flex-wrap m-5">
            <div class="card m-2 p-2 d-flex align-items-center" v-if='filtrados.length != 0' v-for='card of filtrados' style="width: 18rem;">
                <img :src="card.imagen" class="card-img-top cardImg" :alt="card.producto">
                <div class="card-body">
                    <h5 id="cardTitle" class="card-title text-center">{{card.producto}}</h5>
                    <div id='btns' class="d-flex flex-column gap-1">
                        <p class="card-text precio text-center">Precio: $ {{card.precio.toLocaleString()}}</p>
                        <p class="card-text text-center"> Unidades disponibles: {{card.disponibles}}</p>
                        <a :href="`../pages/details.html?_id=${card._id}`" class="btn btn-primary detalles">Detalles</a>
                        <a href="#" class="btn btn-primary carrito">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div v-if="filtrados.length == 0">
                <p id="noResultados">No hay resultados!</p>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../assets/scripts/toys.js"></script>
</body>

</html>